

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid rgb(225, 225, 243);
    border-radius: 7px;
    cursor: pointer;
}